@font-face {
	font-family: 'Acrom';
	src: url('./acrom/Acrom-Regular.eot');
	src: local('Acrom Regular'), local('Acrom-Regular'),
		url('./acrom/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
		url('./acrom/Acrom-Regular.woff') format('woff'),
		url('./acrom/Acrom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('./acrom/Acrom-Bold.eot');
	src: local('Acrom Bold'), local('Acrom-Bold'),
		url('././acrom/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
		url('./acrom/Acrom-Bold.woff') format('woff'),
		url('./acrom/Acrom-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('./acrom/Acrom-Thin.eot');
	src: local('Acrom Thin'), local('Acrom-Thin'),
		url('./acrom/Acrom-Thin.eot?#iefix') format('embedded-opentype'),
		url('./acrom/Acrom-Thin.woff') format('woff'),
		url('./acrom/Acrom-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('./acrom/Acrom-Light.eot');
	src: local('Acrom Light'), local('Acrom-Light'),
		url('./acrom/Acrom-Light.eot?#iefix') format('embedded-opentype'),
		url('./acrom/Acrom-Light.woff') format('woff'),
		url('./acrom/Acrom-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('./acrom/Acrom-ExtraBold.eot');
	src: local('Acrom ExtraBold'), local('Acrom-ExtraBold'),
		url('./acrom/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('./acrom/Acrom-ExtraBold.woff') format('woff'),
		url('./acrom/Acrom-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('./acrom/Acrom-Medium.eot');
	src: local('Acrom Medium'), local('Acrom-Medium'),
		url('./acrom/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
		url('./acrom/Acrom-Medium.woff') format('woff'),
		url('./acrom/Acrom-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "achfexp";
	src: local('achfexp'),
	    local('achafexp'),
	    url("./achfexp.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}